body {
  margin: 0;
}

.cart_container {
  width: 90%;
  margin: auto;
  padding: 20px;
  border: 5px solid red transparent;
}

.cart_nav {
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid green;
}

.cart_nav > div > p {
  color: black;
  font-weight: bolder;
}

.cart_nav_bottom {
  border-bottom: 2px solid green;
}

.cart_nav_bottom,
.cart_nav > div:nth-child(2) {
  display: flex;
  justify-content: right;
}

.cart_nav_bottom > button,
.cart_nav > div > button {
  width: 100%;
  margin: 0 10px;
  padding: 10px 20px;
  border-radius: 4px;
  color: white;
  background-color: green;
  cursor: pointer;
  margin-top: 25px;
  margin-bottom: 20px;
  border: 0;
}

.cart_nav_bottom > button:hover,
.cart_nav > div > button:hover {
  background-color: #477212;
}

.cart_container > p {
  color: #c6668f;
  text-align: center;
}

.cart_data_table {
  width: 60%;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  border: 2px solid red transparent;
}

table {
  border-collapse: collapse;
}

tr {
  /* border-bottom: 1pt solid #82ba3c; */
  height: 120px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  font-size: large;
}

td {
  padding: 20px 40px;
  text-align: center;
}

.checkout {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 2px solid red transparent;
  font-size: large;
  padding: 30px;
  margin-bottom: 30px;
}

.checkout > div > button {
  background-color: red;
  cursor: pointer;
  border-radius: 50px;
  color: white;
  -ms-flex-align: start;
  margin-right: auto;

  /* margin-left: 0; */
}

.checkout > div > button:hover {
  background-color: #477212;
}

.total_amount > div {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  /* margin-right: 45px; */
  text-align: center;
  padding-right: 40px;

  border: 1px solid blue transparent;
}

.total_amount {
  border: 1px solid blue transparent;
  box-shadow: rgba(236, 237, 238, 0.3) 0px 0px 0px 3px;
}
.total_amount > div > div:nth-child(2) {
  margin-left: 200px;
}
#total {
  text-align: center;
}
#sub-total {
  text-align: center;
}

#remove-item-button {
  color: Black;
  /* border: 1px solid red transparent; */
  /* border-radius: 10px; */
  font-weight: bolder;
  cursor: pointer;
}
.cart {
  display: flex;
  justify-content: space-between;
}
img {
  margin-top: 5px;
  width: 50px;
  border: 2px solid red transparent;
}
#td6 {
  display: flex;
}
/* #td2 > p {
  margin-left: 90px;
} */
#check-price {
  display: flex;
}

@media only screen and (min-width: 0) and (max-width: 376px) {
  .header {
    text-align: center;
  }

  #company-logo {
    width: 80%;
  }
  .cart_container {
    width: 100%;
    padding: 0;
  }

  .cart_data_table {
    width: 100%;
    overflow-x: scroll;
  }
  .cart {
    width: 100%;
    overflow-x: scroll;
    display: inline-block;
  }

  .checkout {
    width: 80%;
    overflow-x: scroll;
    display: inline-block;
  }
  .total {
    width: 100%;
    overflow-x: scroll;
  }
  img {
    margin-top: 5px;
    width: 50px;
    border: 2px solid red transparent;
  }

  td {
    min-width: 200px;
    padding: 0;
  }
  /* .footer {
    justify-content: center;
  }

  .footer > div {
    margin: 10px;
  } */
}

@media only screen and (min-width: 376px) and (max-width: 1265px) {
  .header {
    text-align: center;
  }

  #company-logo {
    width: 80%;
  }
  .cart_container {
    width: 100%;
    padding: 0;
    display: inline-block;
  }
  .cart_data_table {
    margin: auto;
    width: 100%;
    overflow-x: scroll;
    display: inline-block;
  }
  .cart {
    /* overflow-x: scroll; */
    display: inline-block;
  }
  img {
    margin-top: 5px;
    width: 50px;
    border: 2px solid red transparent;
  }

  .checkout {
    width: 80%;
    /* overflow-x: scroll; */
    display: inline-block;
  }
  .total {
    width: 100%;
  }

  /* td {
    padding: 0px;
  } */
  /* .footer {
    justify-content: center;
  }

  .footer > div {
    margin: 20px;
  } */
}
