body {
  margin: 0px;
}
#check-nav {
  display: flex;
  width: 100%;
  height: 60px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 2px 0px;
  justify-content: space-between;
}
#check-nav > img {
  padding: 5px 0 5px 20px;
}
#check-nav > div {
  padding: 10px 20px 5px 0px;
  font-size: 20px;
  font-family: "Mulish", sans-serif;
}
#check-main,
#pay-mode {
  /* height: 800px;
  margin-top: 30px; */
  /* padding-left: 16px; */
  width: 95%;
  margin: auto;
  font-family: "Mulish", sans-serif;
}
#logo-click:hover {
  cursor: pointer;
}
#thanks-div {
  width: 60%;
  margin: auto;
  height: 400px;
  text-align: center;
}
#thanks-img {
  width: 200px;
  height: 200px;
}
#check-price h3 {
  margin: 15px;
}
#check-price > div {
  display: flex;
  justify-content: space-between;
  margin: 15px;
}
.hr {
  margin: 15px;
}
#btn-del,
#btn-pay {
  margin-top: 5%;
  width: 100%;
  padding: 2% 5%;
  font-size: 15px;
  font-weight: bold;
  background-color: #25a541;
  border: 0;
  border-radius: 4px;
  color: white;
}
#btn-del:hover,
#btn-pay:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#btn-pay {
  background-color: white;
  color: #25a541;
  border: 1px solid #25a541;
}
.or_span {
  padding-left: 40%;
}
#nav-name {
  font-weight: bold;
  font-size: 20px;
}
