#topbar {
  /* width: 100%; */
  height: 30px;
  border-bottom: 1px solid gray;
  display: flex;
  /* justify-content: space-between; */
  background: #ffffff;
  align-items: center;
  padding-left: 2%;
}

#topbar > div {
  /* width: 160px; */
  padding-left: 10px;
  margin-right: 20px;
}

#topbar :first-child {
  height: 70%;
  /* padding-top: 5px; */
}

#topbar .fa-bars {
  color: #373737;
}

#topbar :nth-child(2) {
  border-left: 1px solid gray;
}

#topbar a:hover {
  text-decoration: underline;
}

#images {
  position: relative;
  width: 100%;
  height: 200px;
  margin: 10px auto;
}

#images img {
  width: 100%;
  height: 100%;
  position: absolute;
  animation: fadeInNew ease infinite 12s;
}

#images img:nth-of-type(1) {
  animation-delay: 9s;
}
#images img:nth-of-type(2) {
  animation-delay: 6s;
}
#images img:nth-of-type(3) {
  animation-delay: 3s;
}
#images img:nth-of-type(4) {
  animation-delay: 0s;
}

@keyframes fadeInNew {
  0% {
    opacity: 1;
  }
  17% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  92% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.oDiv {
  margin: auto;
  border: 1px solid #e0e0e0;
  width: 95%;
  background: #ffffff;
  border-radius: 5px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.oDiv > p {
  margin: 5px 0 5px;
  margin-left: 3%;
  font-size: 16px;
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  font-family: "Mulish", sans-serif;
}

#offers > img,
#inFocus > img,
#random > img,
#random3 > img,
#random4 > img,
#floor > img,
#pets > img {
  width: 95%;
  margin: 1% 2.5%;
}

#mE {
  display: grid;
  grid-template-columns: repeat(3, 4fr);
}

#mE > img {
  width: 87%;
  margin: 3% 8%;
}

#snaks {
  display: grid;
  width: 95%;
  margin: auto;
  grid-template-columns: repeat(6, 2fr);
  justify-content: center;
  margin-bottom: 5%;
  column-gap: 10px;
}

#snaks > img {
  height: 140%;
  width: 100%;
  border-radius: 5px;
}

#winter {
  width: 95%;
  margin: auto;
}

#winter > img {
  display: flex;
  width: 95%;
  margin-left: 2.5%;
  margin-bottom: 10px;
}

#health,
#home,
#kitchen,
#kitchen3,
#baby {
  width: 95%;
}

#health > img,
#home > img,
#kitchen > img,
#kitchen3 > img,
#baby > img {
  display: flex;
  width: 95%;
  margin-left: 2.5%;
  margin-bottom: 10px;
}

#random2,
#kitchen2 {
  display: grid;
  grid-template-columns: repeat(3, 4fr);
  justify-content: center;
  /* padding: 5%; */
}

#random2 > img,
#kitchen2 > img {
  width: 86%;
  margin: 3%;
  margin-left: 8%;
}

#kitchen > img,
#kitchen3 > img,
#baby > img {
  display: inline;
  margin-top: 2%;
}
#kitchen > :first-child,
#kitchen3 > :first-child,
#baby > :first-child {
  width: 60%;
  display: inline;
}

#kitchen > :last-child,
#kitchen3 > :last-child,
#baby > :last-child {
  width: 30%;
}

.p_cards {
  background: #befdaf;
}
#prod_cards {
  width: 95%;
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  grid-gap: 10px;
  margin: auto;
  margin-bottom: 20px;
}

#prod_cards > div {
  background-color: #ffffff;
  border: 1px solid blue;
  width: 90%;
  padding: 10px;
}

#prod_cards > div > :nth-child(2) {
  font-weight: 600;
}

#p_div {
  display: grid;
  grid-template-columns: repeat(3, 4fr);
}

#p_div > p {
  margin: 0;
  font-size: 18px;
  word-spacing: 5px;
}

#p_div :first-child {
  text-decoration: line-through;
}
#p_div :last-child {
  background-color: #d0f5c7;
  color: #006616;
  font-weight: bold;
  text-align: center;
}

#prod_cards > div input {
  margin: 4% auto;
  width: 93%;
  padding: 3%;
  border-radius: 5px;
  border: 1px solid gray;
}

#prod_cards > div button {
  color: white;
  width: 99%;
  padding: 5%;
  border-radius: 5px;
  border: none;
  background-color: #25a541;
  font-weight: bold;
}

#refundP {
  display: grid;
  grid-template-columns: repeat(2, 6fr);
  background-color: #befdaf;
}

#refundP > div {
  width: 95%;
  margin: 1% 5%;
  color: #373737;
}

/* #refundP > p {
} */
#refundP button {
  background-color: #373737;
  color: white;
  padding: 10px;
  border-radius: 5px;
}

@media (min-width: 376px) and (max-width: 820px) {
  #navbar {
    width: 100%;
    background-color: aqua;
  }
  #lct {
    display: none;
  }

  #burger {
    display: flex;
    grid-area: bg;
    justify-content: center;
    align-items: center;
  }

  #find {
    grid-area: fd;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #form {
    display: none;
  }

  #navbar {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas: "bg lg lg . . . . . . fd ct si";
    justify-content: none;
    height: auto;
    background-color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    color: #373737;
    font-family: "Mulish", sans-serif;
    border-bottom: 1px solid rgb(73, 73, 73);
  }
  #signin a :nth-child(2) {
    display: none;
  }
  #cart a :nth-child(3) {
    display: none;
  }
  i {
    font-size: 20px;
  }

  #myfind {
    display: flex;
    height: 0; /* Specify a height */
    width: 100%; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    margin: auto 0;
    background-color: #ffffff; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    /* padding-top: 60px; Place content 60px from the top */
    font-weight: 500;
    transition: 0.3s;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid gray;
  }

  #myfind > input {
    width: 70%;
    border: 1px solid rgb(158, 158, 158);
    height: 70%;
    /* margin:  4.5%; */
    border-radius: 4px;
    padding-left: 10px;
  }

  #myfind > button {
    padding-right: 20px;
    margin-left: -84px;
    border-radius: 5px;
    height: 73%;
    padding-left: 20px;
  }

  .closeInp {
    font-size: 30px;
    margin-left: 10px;
  }
  #topbar {
    display: none;
  }

  #images {
    height: 150px;
  }

  #snaks {
    grid-template-columns: repeat(3, 4fr);
    grid-gap: 15px;
    margin-bottom: 10px;
  }

  #snaks > img {
    height: 100%;
    width: 100%;
  }

  #prod_cards {
    width: 95%;
    display: grid;
    grid-template-columns: repeat(2, 6fr);
    justify-content: center;
    margin: auto;
    margin-bottom: 20px;
    grid-gap: 15px;
  }

  #prod_cards > div {
    background-color: #ffffff;
    border: 1px solid blue;
    width: 95%;
    padding: 10px;
    margin-bottom: 15px;
  }
}

@media (min-width: 0px) and (max-width: 376px) {
  #navbar {
    width: 100%;
    background-color: aqua;
  }
  #lct {
    display: none;
  }

  #burger {
    display: flex;
    grid-area: bg;
    justify-content: center;
    align-items: center;
  }

  #find {
    grid-area: fd;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #form {
    display: none;
  }

  #navbar {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas: "bg lg lg . . . . . fd ct ct si";
    justify-content: none;
    height: auto;
    background-color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    color: #373737;
    font-family: Muli, sans-serif;
    border-bottom: 1px solid rgb(73, 73, 73);
  }
  #signin a :nth-child(2) {
    display: none;
  }
  #cart a :nth-child(3) {
    display: none;
  }
  i {
    font-size: 20px;
  }

  #myfind {
    display: flex;
    height: 0; /* Specify a height */
    width: 100%; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    margin: auto 0;
    background-color: #ffffff; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    /* padding-top: 60px; Place content 60px from the top */
    font-weight: 500;
    transition: 0.3s;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid gray;
  }

  #myfind > input {
    width: 70%;
    border: 1px solid rgb(158, 158, 158);
    height: 70%;
    /* margin:  4.5%; */
    border-radius: 4px;
    padding-left: 10px;
  }

  #myfind > button {
    padding-right: 20px;
    margin-left: -84px;
    border-radius: 5px;
    height: 73%;
    padding-left: 20px;
  }

  .closeInp {
    font-size: 30px;
    margin-left: 10px;
  }

  #images {
    height: 120px;
  }

  #topbar {
    display: none;
  }
  #prod_cards {
    width: 95%;
    display: grid;
    grid-template-columns: repeat(1, 10fr);
  }
  #prod_cards > div {
    margin: auto;
  }
  #refundP {
    display: block;
  }
}
