body {
  margin: 2px 0 0;
  background: #f0f2f6;
  margin-bottom: 50px;
  font-family: "Mulish", sans-serif;
  font-size: 16px;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #25a541;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #006616;
}

#burger {
  grid-area: bg;
}

#logo {
  grid-area: lg;
  height: 50px;
}
#lct {
  grid-area: lc;
  text-align: center;
  /* width: 80%; */
  color: rgb(68, 68, 68);
}
#burger,
#find {
  display: none;
}
#form {
  grid-area: fm;
}
#signin {
  grid-area: si;
  display: flex;
  align-items: center;
  justify-content: center;
}
#cart {
  grid-area: ct;
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas: "lg lg lc lc fm fm fm fm fm si si ct";
  justify-content: space-between;
  height: 64px;
  background-color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  color: #373737;
  font-family: "Mulish", sans-serif;
  border-bottom: 1px solid rgb(73, 73, 73);
}

#logo img {
  width: 90%;
  margin: 0 auto;
  height: 100%;
  float: right;
}

#form {
  display: flex;
  flex: 2 1;
  height: 100%;
  align-items: center;
}

#search {
  width: 100%;
  height: 50%;
  background: #f5f5f5;
  border: 1px solid gray;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding-left: 10px;
}

#btn {
  height: 58%;
  background-color: #25a541;
  color: white;
  border: none;
  border-radius: 5px;
  margin-left: -5px;
  font-weight: 700;
  padding-left: 10px;
  padding-right: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

a {
  text-decoration: none;
  color: #373737;
}

i {
  color: #25a541;
  padding-right: 5px;
}

#myfind {
  display: none;
}

.sidepanel {
  display: block;
  height: 100%; /* Specify a height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  margin: auto 0;
  background-color: #f5f5f5; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  /* padding-top: 60px; Place content 60px from the top */
  font-weight: 500;
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
}

#side-top {
  background-color: #ffffff;
  min-height: 50px;
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 20px;
  padding-left: 20px;
  position: sticky;
  top: 0;
  width: 100%;
  overflow: hidden;
}

#side-top :first-child {
  color: rgb(66 65 65 / 82%);
  font-size: 25px;
  margin-right: 10px;
}

.sidepanel > ul {
  padding-inline-start: 0;
  margin-block-start: 0;
}

li {
  list-style: none;
  height: 70px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.753);
  display: flex;
  align-items: center;
  font-weight: 500;
  font-family: "Mulish", sans-serif;
}

.catImg {
  width: 100%;
  height: 80%;
}

li :first-child {
  width: 20%;
  margin: 0 10% 0 3%;
}

sup {
  color: red;
  margin-left: -4px;
  margin-right: 5px;
}
@media only screen and (min-width: 768px) and (max-width: 2000px) {
  #logo img {
    margin-left: 20%;
    width: 55%;
    float: left;
  }
}
