#signup {
  grid-area: su;
  height: 360px;
  width: 400px;
  border: 1px solid transparent;
  /* margin-left: 400px; */
  color: grey;
  font-family: "Mulish", sans-serif;
}

#sidebar {
  grid-area: sb;
  height: 500px;
  width: 251px;
  border: 1px solid transparent;
}
#ul1 {
  background-color: rgb(190, 214, 190);
  color: rgb(22, 73, 22);
}
#container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas: "sb sb sb sb su su su su su su su su";
}
#submit {
  margin-top: 10px;
}
#form_reg > h2 {
  font-size: 15px;
}
#name {
  height: 30px;
  width: 300px;
  border: 1px solid rgb(198, 202, 198);
  border-radius: 10px;
}
/* #location{
            height:30px;
            width:300px;
            border: 1px solid rgb(198, 202, 198);
            border-radius: 10px;
        } */
#mobile_no {
  height: 30px;
  width: 300px;
  border: 1px solid rgb(198, 202, 198);
  border-radius: 10px;
}
#id {
  height: 30px;
  width: 300px;
  border: 1px solid rgb(198, 202, 198);
  border-radius: 10px;
}
#password {
  height: 30px;
  width: 300px;
  border: 1px solid rgb(198, 202, 198);
  border-radius: 10px;
}
#submit {
  height: 30px;
  width: 308px;
  border: 1px solid rgb(198, 202, 198);
  border-radius: 10px;
  margin-top: 20px;
}
#submit:hover {
  background-color: green;
  color: honeydew;
}
#sign_name {
  color: black;
  font-size: 20px;
  margin-left: 50px;
}
#side_img {
  height: 700px;
  width: 300px;
}

#grey {
  font-size: 13px;
}
#green {
  color: green;
  font-size: 13px;
}
#line {
  width: 300px;

  border: 1px solid grey;
}
/* #user{
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: 10px;
            color:green;
            margin-right: 10px;
        } */

@media only screen and (min-width: 375px) and (max-width: 768px) {
  #container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 600px);
    grid-template-areas:
      "sb sb sb sb"
      "su su su su";
  }
  #sidebar {
    height: 220px;
    margin-top: 300px;
  }
}

@media only screen and (min-width: 0px) and (max-width: 375px) {
  #container {
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 600px);
    grid-template-areas:
      "sb sb"
      "su su";
  }
  #sidebar {
    height: 220px;
    margin-top: 300px;
  }
}
